:root {
    --color-bg: #161311;
    --color-text-main: #ffe9d3;
    --color-text-high: #FFAC5A;
    --color-text-low: #685a52;
}

body {
    background-color: var(--color-bg);
    margin: 0 auto;
    padding: 1rem;
    max-width: 80rem;
    font-size: 120%;
    font-family: 'Courier New', 'Courier', 'monospace';
    color: var(--color-text-main);
    text-underline-offset: 0.3em;
    line-height: 1.5;
}

a {
    color: whitesmoke;
}

img {
    border: 2px dotted var(--color-text-high);
}

.imgcard {
    text-align: center;
    display: block;
}

.imgcard p {
    color: var(--color-text-low);
}

header {
    display: block;
    margin-bottom: 2rem;
}

nav {
    display: flex;
}

nav .logo {
    color: var(--color-text-high);
}

nav ul {    
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
}

nav ul li {
    margin-right: 1rem;
}

table {
    border-collapse: collapse;
}

th, td {
    text-align: left;
    padding: 0.5rem;
}