<p>This is the equipment that drives my digital life, complete overkill for what I do but it works so ¯\_(ツ)_/¯</p>

<h4>My computer setup</h4>

<h5>Main PC Specs</h5>
<ul>
    <li><b>CPU:</b> Intel Core i7-10700K</li>
    <li><b>Cooler:</b> Noctua NH-U9S chromax.black</li>
    <li><b>Motherboard:</b> MSI Z490-A PRO</li>
    <li><b>GPU 1:</b> MSI Radeon RX 6600 MECH 2X 8G</li>
    <li><b>GPU 2:</b> ASRock Radeon RX 560 Phantom Gaming 4G</li>
    <li><b>RAM:</b> G.Skill RipJaws V 32GB 3200Mhz (4x8GB)</li>
    <li><b>Case:</b> Corsair Carbide SPEC-05</li>
    <li><b>PSU:</b> Seasonic FOCUS GX-750</li>
    <li><b>SSD 1:</b> Samsung 980 NVMe M.2 1TB</li>
    <li><b>SSD 2:</b> Samsung 860 EVO 500GB</li>
    <li><b>HDD 1:</b> Toshiba DT01ACA100 1TB</li>
    <li><b>Case Fans:</b> Arctic P12 PWM (3x)</li>
</ul>

<h5>Secondary PC Specs (Put together by spare parts and mainly used as a server)</h5>
<ul>
    <li><b>CPU:</b> AMD Ryzen 5 1600</li>
    <li><b>Motherboard:</b> ASUS PRIME A320M-K</li>
    <li><b>RAM:</b> G.Skill Value 8GB 2400Mhz (2x4GB)</li>
    <li><b>Case:</b> Honestly have no idea, some ATX case</li>
    <li><b>PSU:</b> Corsair CX550M</li>
    <li><b>SSD 1:</b> No idea on this either, some cheap one</li>
    <li><b>Case Fans:</b> Some random corsair fan with a red LED</li>
</ul>

<h5>Laptop</h5>
<p>I use the Lenovo G50-70 (i5 model) for basic stuff like uni work,
    old and outdated by this point but works fine with an SSD and my Arch setup.
</p>

<h5>Software</h5>
<p>I run <a href="https://archlinux.org/" target="_blank">Arch Linux</a>
    paired with <a href="https://i3wm.org/" target="_blank">i3</a> on all my systems, 
    the rest of the stuff I use can be found on the <a href="#software">Software</a> tab.
</p>

<h4>My peripherals</h4>
<ul>
    <li><b>Monitor 1:</b> ASUS VG248QE</li>
    <li><b>Monitor 2:</b> ASUS VS247</li>
    <li><b>Monitor Stand:</b> Brateck LDT24-C024</li>
    <li><b>Mouse:</b> Razer DeathAdder V2 Mini</li>
    <li><b>Mousepad:</b> SteelSeries QCK Edge Large</li>
    <li><b>Keyboard:</b> Patriot Viper PV730</li>
    <li><b>Microphone:</b> Razer Seiren Mini</li>
    <li><b>Headphones:</b> beyerdynamic DT 770 PRO 80Ohm</li>
    <li><b>DAC:</b> iFi Audio Zen Air DAC</li>
    <li><b>Tablet:</b> Wacom CTL-472</li>
    <li><b>Network Switch:</b> TP-LINK TL-SG105 v6</li>
</ul>
