<p>A bunch of websites of all kinds that I either visit regularly, find useful or just think are cool.</p>

<h4>Individual websites worth checking out</h4>
<ul>
    <li>
        <a href="https://ericmurphy.xyz/">Eric Murphy</a>
        - Small youtuber and freelance web developer, he inspired me to make my own website and I took a lot of ideas from his while making it.
    </li>
    <li>
        <a href="https://www.maximilien-laenen.be/">Maximilien Laenen</a>
        - Good friend of mine based in Belgium, also one of my inspirations for making my own website and used it's code to get a rough idea of web JS.
    </li>
</ul>

<h4>Other websites</h4>
<ul>
    <li>
        <a href="https://www.w3schools.com/">W3Schools</a>
        - Very nice website I use to get a quick understanding of a programming language.
    </li>
    <li>
        <a href="https://wiki.archlinux.org/">ArchWiki</a>
        - One of the best if not the best wiki for documentation on pretty much anything linux related, not just the Arch distro.
    </li>
</ul>