<!--
    Available values to use here:

    <data id="name"></data>
    <time id="age"></time>
    <a id="email"></a>

    These will be automatically filled with the data in constants.js
-->

<h2>Hello there 👋, I’m <data id="name"></data>.</h2>
<p>
    I'm currently <time id="age"></time> years old and studying at the <a href="https://ds.uth.gr/" target="_blank">University Of Thessaly (Digital Systems Department)</a>,
    I try to help people with their code related issues and develop tools / utilities I think would be useful,
    you can check those out and more in the <a href="#projects">Projects</a> tab.
</p>
<p> You can contact me through this email: <a id="email"></a></p>