<p>This is a list of free and open source software that I use and find useful.</p>
<table>
    <tr>
        <th>Name</th>
        <th>Comment</th>
    </tr>
    <tr>
        <td><a target="_blank" href="https://github.com/alacritty/alacritty">Alacritty </a></td>
        <td>My preferred terminal emulator, it is written in rust and performs well.</td>
    </tr>
    <tr>
        <td><a target="_blank" href="https://github.com/debauchee/barrier">Barrier</a></td>
        <td>Amazing internet based KVM software, very easy to set up and works like a charm with zero input delay.</td>
    </tr>
    <tr>
        <td><a target="_blank" href="https://www.thunderbird.net/">Thunderbird</a></td>
        <td>My preferred email client.</td>
    </tr>
    <tr>
        <td><a target="_blank" href="https://keepass.info/">KeePass</a></td>
        <td>A very simple and light-weight password manager.</td>
    </tr>
    <tr>
        <td><a target="_blank" href="https://www.gimp.org/">GIMP</a></td>
        <td>My favorite and probably the best image editor.</td>
    </tr>
    <tr>
        <td><a target="_blank" href="https://www.openshot.org/">OBS Studio</a></td>
        <td>The best video recording software there is.</td>
    </tr>
    <tr>
        <td><a target="_blank" href="https://www.openshot.org/">OpenShot</a></td>
        <td>Simple video editor I use from time to time.</td>
    </tr>
    <tr>
        <td><a target="_blank" href="https://handbrake.fr/">HandBrake</a></td>
        <td>Video transcoder I often use to shrink video sizes.</td>
    </tr>
    <tr>
        <td><a target="_blank" href="https://www.libreoffice.org/">LibreOffice</a></td>
        <td>My preferred office Suite.</td>
    </tr>
</table>